html {
  background-color: #DAD7CD;
  padding: 0;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

label {
  align-self: center;
  margin: 1rem;
}

button {
  height: 1.2rem;
  width: 25%;
  margin: 1rem auto;
  
}

h3{
  height: auto;
  margin: 0 auto;
}